{% extends 'basex.html' %}
{% load staticfiles %}
{% block title %}人力资源{% endblock title %}
{% block banner %} {% static 'images/ts.jpg' %} {% endblock banner %}
{% block nav_hr_active %}active{% endblock %}

{% block main %}
    <!--居中内容-->
    <div class="middle-content row">
        <!--列表页侧边栏导航-->
        <ul class="listPage-sidebar col-sm-3">
            <li class="title col-sm-12 col-xs-12 hidden-xs">人力资源</li>
            <li class="link col-sm-12 col-xs-4 "><a href="{% url 'blog:hrfc' %}">员工风采</a></li>
            <li class="link col-sm-12 col-xs-4 active"><a href="{% url 'blog:hr' %}">人才招聘</a></li>
            <li class="link col-sm-12 col-xs-4"><a href="{% url 'blog:hrlx' %}">联系我们</a></li>
        </ul>
        <!--列表页侧边栏导航 END-->
        <!--列表内容-->
        <div class="listPage-content col-sm-9">
            <div class="title hidden-xs col-sm-12">
                <h2 class="pull-left col-sm-6">
                    人力资源</h2>
                <ol class="breadcrumb col-sm-6 pull-right">
                    <li>您当前的位置：</li>
                    <li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li><a href="{% url 'blog:hr' %}">人力资源</a></li>
                    <li class="active">人才招聘</li>
                </ol>
            </div>
            <div class="brief list-box">
			    <div class="article-title">
			        <h1 class="h2" style="text-align: center;">{{ post.title }}</h1>
			    </div>
			    <div class="article-content">
			    {{ post.body|safe }}    
			    </div>
            </div>
        </div>
        <!--列表内容 END-->
        <!--分页-->
    </div>
    <!--居中内容 END-->


              
{% endblock main %}