{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>瑞新药业</title>

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	
</head>
<style>

</style>

<body>
<!-- 导航条 -->	
	<div id="header">
	    <nav class="navbar navbar-default navbar-fixed-top">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" style="padding:0 0 0 15px;" href="#"><img alt="Brand" style="max-width:130px;" src="{% static 'images/logo.png' %}"></a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
                	    <li class="active"><a href="">首页</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">瑞新概况 <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="summary">公司简介</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="honour">企业荣誉</a></li>
                          </ul>
                        </li>
                	    <li><a href="news">新闻中心</a></li>
                	    <li><a href="hr">人力资源</a></li>
                        <li class="dropdown">
                          <a href="product" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品信息 <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="product">重点产品</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="product">产品介绍</a></li>
                          </ul>
                        </li>	
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>
	</div>
<!-- 导航条 --> 
<!-- 轮播图 -->
<div id="carousel-example-generic" class="carousel slide my-slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="{% static 'images/banner1.jpg' %}" alt="1"> 
		       <div class="carousel-caption">
		        <h2></h2>
		        <p></p><!-- 文字 -->
		       </div>
		    </div>
		    <div class="item">
		      <img src="{% static 'images/banner2.jpg' %}" alt="2" >
		      <div class="carousel-caption">
		        <h2></h2>
		        <p></p><!-- 文字 -->
		      </div>
			</div>
			<div class="item">
		      <img src="{% static 'images/banner3.jpg' %}"  alt="3">
		      <div class="carousel-caption">
		        <h2></h2>
		        <p></p><!-- 文字 -->
		      </div>
			</div>
      </div>
</div>					
<!-- 轮播图 -->
<!-- 1**** -->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#">
      <img src="{% static 'images/3.jpg' %}" alt="...">
      </a>
      <div class="caption">
        <h4>公益行动</h4>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="product">
      <img src="{% static 'images/2.jpg' %}" alt="...">
      </a>
      <div class="caption">
        <h4>产品中心</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="hr"> 
      <img src="{% static 'images/1.jpg' %}" alt="...">
      </a>
      <div class="caption">
        <h4>人才理念</h4>
      </div>
    </div>
  </div>
</div>
</div>
<!-- 1**** -->
<!-- 2**** -->
<div class="container">
    <div class="row">
      <div class="col-md-7"><a href="summary"><img src="{% static 'images/11.jpg' %}" width="auto" height="192"></a></div>
      <div class="col-md-5">
          <h2><a href="summary">公司简介</a></h2>

<p><strong>&nbsp;</strong>&nbsp;浙江瑞新药业股份有限公司2002年1月成立，为原浙江丽水浙南药业有限公司改制组成的股份有限公司。&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2002年底公司由丽水市丽阳街588号整体搬迁至丽水市天宁工业区开发路。厂区占地面积3.33万平方米........<a href="summary">查看详情</a></p>
      </div>
    </div>
</div>
<!-- 2**** -->
<!-- 3**** -->
<div class="container">
<div class="page-header">
  <h1><a href="news">新闻中心</a> <small>最近新闻</small></h1>
</div>
</div>
<!-- 3**** -->
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
    {% for post in post_list %}
        <div class="media our-news-item">
            <div class="media-left">
              <a class="thumbnail" href="{{ post.get_absolute_url }}">
                <img class="media-object" src="{{ post.post_img.url }}" alt="图片">
              </a>
            </div>
            <div class="media-body">
              <a href="{{ post.get_absolute_url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
              <div class="dynamic-li">
                <b>0</b><em class="pic-glob"></em><span>{{ post.created_time }}</span>
              </div>
              <p>{{ post.body|striptags|truncatechars:120 }}</p>
              <div class="dynamic-li">
                <a href="{{ post.get_absolute_url }}">[详细]</a>
                <span>作者：{{ post.author }} <span class="hidden-xs">瑞新药业</span> </span>
              </div>
            </div>
        </div>
    {% empty %}
      <div class="no-post">暂时还没有文章！</div>
    {% endfor %}    
    </div>
  </div>
</div>
<div class="main-container">

</div>
<!-- 通用页脚 -->
<div id="footer" style="background-image:url('{% static 'images/footer.jpg' %}');" >
    <div class="container" >
        <div class="row">
            <div class="col-xs-12 col-sm-6 footer-item">
                <div class="footer-list">
                    <h4>友情链接</h4>
                    <ul>
                        <li><a href="http://samr.saic.gov.cn/">国家食品药品监督管理总局***********</a></li>
                        <li><a href="http://www.zjfda.gov.cn/">浙江省食品药品监督管理局 </a></li>
                        <li><a href="http://www.nhfpc.gov.cn/">国家卫计委 </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 footer-item footer-item-last">
                    <div class="footer-contact">
                        <h2>电话：************</h2>
                        <h2>邮箱：************</h2>
                        <h2>地址：************</h2>
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright © *****************************<a target="_blank" href="#">备案号******</a></p>
            </div>
        </div>
    </div>
</div>
<!-- 通用页脚 -->
<script type="text/javascript">
    $(function () {
        /**通用-banner大图自定义缩放**/
        var zoomWidth = 992; //缩放阀值992px, 即所有小于992px的视口都会对原图进行缩放, 只是缩放比例不同
        var maxWidth = 1920; //最大宽度1920px
        var ratio = 1; //缩放比例
        var viewWidth = window.innerWidth; // 视口宽度
        var zoomSlider = function () {
            if (viewWidth < 768) { //当视口小于768时(移动端), 按992比例缩放
                ratio = viewWidth / zoomWidth; //视口宽度除以阀值, 计算缩放比例
            } else if (viewWidth < zoomWidth) { //当视口界于768与992之间时, bootstrap主宽度为750, 这区间图片缩放比例固定.
                ratio = zoomWidth / (zoomWidth + (zoomWidth - 750));
            } else { // PC端不缩放
                ratio = 1;
            }
            //ratio = viewWidth / zoomWidth; //视口宽度除以阀值, 计算缩放比例
            //ratio = (ratio<=1) ? ratio : 1; //如果比例值大于1, 说明视口宽度高于阀值, 则不进行任何缩放
            var width = maxWidth * ratio; //缩放宽度
            $(".my-slide img").each(function () {
                $(this).css({
                    "width": width,
                    "max-width": width,
                    "margin-left": -(width - viewWidth) / 2
                }); //图片自适应居中, 图片宽度与视口宽度差除以2的值, 设置为负margin
            });
        }
            
        zoomSlider(); //页面加载时初始化并检查一次.
        /**视口发生变化时的事件**/
        $(window).resize(function () {
            viewWidth = window.innerWidth; // 重置视口宽度
            zoomSlider();//判断是否绽放banner
        });
            
    });
</script>
</body>
</html>