{% extends 'basex.html' %}
{% load staticfiles %}
{% block title %}新闻中心{% endblock title %}
{% block banner %} {% static 'images/timg1.jpg' %} {% endblock banner %}
{% block nav_news_active %}active{% endblock %}

{% block main %}
    <!--居中内容-->
    <div class="middle-content row">
        <!--列表页侧边栏导航-->
        <ul class="listPage-sidebar col-sm-3">
            <li class="title col-sm-12 col-xs-12 hidden-xs">新闻中心</li>
            <li class="link col-sm-12 col-xs-4 active"><a href="{% url 'blog:news' %}">公司动态</a></li>
            <li class="link col-sm-12 col-xs-4 "><a href="{% url 'blog:news' %}">媒体报道</a></li>

        </ul>
        <!--列表页侧边栏导航 END-->
        <!--列表内容-->
        <div class="listPage-content col-sm-9">
            <div class="title hidden-xs col-sm-12">
                <h2 class="pull-left col-sm-6">
                    公司概况</h2>
                <ol class="breadcrumb col-sm-6 pull-right">
                    <li>您当前的位置：</li>
                    <li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li><a href="{% url 'blog:news' %}">新闻中心</a></li>
                    <li class="active">公司动态</li>
                </ol>
            </div>
            <ul class="list-box">
                <!--取得一个分页DataTable-->
                {% for post in posts %}
                <li><a target="_blank" href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                    <div class="date">
                        <span class="day">
                            {{ post.created_time|date:"d" }}</span> <span class="years">
                                {{ post.created_time|date:"Y-m" }}</span>
                    </div>
                    <div class="text">
                        <h4>{{ post.title }}</h4>
                        <p>
                            {{ post.body|striptags|truncatechars:120 }}
                        </p>
                        <div class="link-btn hidden-xs">
                            <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;查看详情</div>
                    </div>
                </a></li>                

                {% empty %}
                  <div class="no-post">暂时还没有文章！</div>
                {% endfor %}                 
                               
            </ul>
          <!--分页-->
            <div>
             <ul class="pagination">
                <li>
                    {% if page_of_posts.has_previous %}
                      <a href="?page={{ page_of_posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    {% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}    
                </li>
                {% for page_num in page_of_posts.paginator.page_range %}
                    <li><a href="?page={{ page_num }}">{{ page_num}}</a></li>
                {% endfor %} 
                <li>
                     {% if page_of_posts.has_next  %}
                      <a href="?page={{ page_of_posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}              

                </li>
              </ul>   
            </div>            
            <!--分页-->                        

        </div>
        <!--列表内容 END-->

    </div>
    <!--居中内容 END-->

         
{% endblock main %}
