{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}新闻中心{% endblock title %}
{% block banner %} {% static 'images/timg1.jpg' %} {% endblock banner %}
{% block nav_news_active %}active{% endblock %}
{% block path %}
<li class="active">新闻中心</li>
{% endblock path %}
{% block main %}
    <div class="col-xs-12 col-sm-10 news-list">
        {% for post in posts %}
          <div class="media our-news-item">
            <div class="media-left">
              <a class="thumbnail" href="{{ post.get_absolute_url }}">
                <img class="media-object" src="{{ post.post_img.url }}" alt="图片">
              </a>
            </div>
            <div class="media-body">
              <a href="{{ post.get_absolute_url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
              <div class="dynamic-li">
                <b>0</b><em class="pic-glob"></em><span>{{ post.created_time }}</span>
              </div>
              <p>{{ post.body|striptags|truncatechars:120 }}</p>
              <div class="dynamic-li">
                <a href="{{ post.get_absolute_url }}">[详细]</a>
                <span>作者：{{ post.author }} <span class="hidden-xs">瑞新药业</span> </span>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="no-post">暂时还没有文章！</div>
        {% endfor %}            
    </div>
    <div class="col-sm-2">
        <div id="sidebar" style="width: 212px; position: relative; height: 20px;">
        </div>
    </div>
    {# 分页 #}
    <div>
     <ul class="pagination">
        <li>
            {% if page_of_posts.has_previous %}
              <a href="?page={{ page_of_posts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}    
        </li>
        {% for page_num in page_of_posts.paginator.page_range %}
            <li><a href="?page={{ page_num }}">{{ page_num}}</a></li>
        {% endfor %} 
        <li>
             {% if page_of_posts.has_next  %}
              <a href="?page={{ page_of_posts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}              

        </li>
      </ul>   
    </div>   
    {# 分页 #}          
{% endblock main %}
