{% extends 'basex.html' %}
{% load staticfiles %}
{% block title %}业务领域{% endblock title %}
{% block banner %} {% static 'images/banner5.jpg' %} {% endblock banner %}
{% block nav_product_active %}active{% endblock %}

{% block main %}
    <!--居中内容-->
    <div class="middle-content row">
        <!--列表页侧边栏导航-->
        <ul class="listPage-sidebar col-sm-3">
            <li class="title col-sm-12 col-xs-12 hidden-xs">产品世界</li>
            <li class="link col-sm-12 col-xs-4"><a href="{% url 'blog:product' %}">产品中心</a></li>
            <li class="link col-sm-12 col-xs-4 active"><a href="{% url 'blog:productly' %}">业务领域</a></li>
        </ul>
        <!--列表页侧边栏导航 END-->
        <!--列表内容-->
        <div class="listPage-content col-sm-9">
            <div class="title hidden-xs col-sm-12">
                <h2 class="pull-left col-sm-6">
                    业务领域</h2>
                <ol class="breadcrumb col-sm-6 pull-right">
                    <li>您当前的位置：</li>
                    <li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li class="active">业务领域</li>
                </ol>
            </div>
            <div class="brief list-box">
			    <div class="article-title">
			        <h1 class="h2" style="text-align: center;">{{ post.title }}</h1>
			    </div>
			    <div class="article-content">
			    {{ post.body|safe }}    
			    </div>
            </div>
        </div>
        <!--列表内容 END-->
        <!--分页-->
    </div>
    <!--居中内容 END-->


              
{% endblock main %}